header nav{
    background-color: #E5E5CB;
}

footer{
    margin-top: 2rem;
}

main{
    background-color: white;
}

h1{
    color: red;
    font-weight: bolder;
    font-family: poppins;
}
h2{
    color: #3C2A21;
}

h4{
    color: aliceblue;
    font-size: 48px;
    text-shadow: grey
}

h6{
    font-weight: bold;
    color: #3C2A21
}

p{
    color: #3C2A21;
}

.centrado{
    text-align: center;
}

.cards-container {
    margin-top: 1rem;
    margin-block-end: 5rem;
}

.imgfoot{
    margin-top: 1.5rem;
}

.carruespacio{
    margin-top: 1rem;
    margin-block-end: 5rem;
}

.nav-item a:hover{
    color: #3C2A21;
}

.nav-item a:active{
    color: rgb(0, 0, 0);
    text-shadow: 2px 4px 5px rebeccapurple;
}

.degradesushi {
    background: linear-gradient(to right, #F8E2D7, #B39BC4);
}  

.marginsuhi{
    margin-top: 2rem;
}

button {
    background-color: #e49e07; 
    border: none; 
    color: rgb(255, 255, 255); 
    padding: 12px 24px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 8px; 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); 
} 

.margin-footer{
    margin-top: 80rem;
}

/*PAGINA DESTACADOS USANDO GRIDS*/

.container{
    display: grid;
    box-sizing: border-box;
}

.grid-container{
    margin-top: 2rem;
    display: grid;
    width: 100%;
    height: 125rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25rem 4rem 18rem 40rem 4rem;
    grid-template-areas: 
    "titulo portada portada"
    "pregunta pregunta pregunta"
    "imgdos imgtres imgcuatro"
    "carduno carddos cardtres"
    "cierre cierre cierre"
    ;
    background-color: rgb(253, 253, 253);
    gap: 2rem;
}

.image-main{
    grid-area: portada;
    display: grid;
    justify-self: end;
    align-self: end;    
}
.image-main img{
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.titulo-main{
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem;
    margin-top: 4rem;
}

.pregunta-main{
    display: grid;
    width: 100%;
    background-color: #3C2A21;
    grid-area: pregunta;
    padding: 2rem;
    justify-self: left;
    align-self: center;    
    border-radius: 1rem;
}
.pregunta-main h3{
    color: white;
    text-align: center;
}

.image-maindos{
    grid-area: imgdos;
    display: grid;
    height: auto;
    justify-self: start;
    align-self: start;
}
.image-maindos img{
    max-width: 100%;
    border-radius: 1rem;
}

.image-maintres{
    grid-area: imgtres;
    display: grid;
    height: auto;
    justify-self: start;
    align-self: start;
}
.image-maintres img{
    max-width: 100%;
    border-radius: 1rem;
}

.image-maincuatro{
    grid-area: imgcuatro;
    display: grid;
    height: auto;
    justify-self: start;
    align-self: start;
}
.image-maincuatro img{
    max-width: 100%;
    border-radius: 1rem;
}

.carduno-main{
    grid-area: carduno;
    display: grid;
    height: auto;
    justify-self: start;
    align-self: start;
}
.carduno-main img{
    max-width: 100%;
    border-radius: 1rem;
}
.carddos-main{
    grid-area: carddos;
    display: grid;
    height: auto;
    justify-self: start;
    align-self: start;
}
.carddos-main img{
    max-width: 100%;
    border-radius: 1rem;
}
.cardtres-main{
    grid-area: cardtres;
    display: grid;
    height: auto;
    justify-self: start;
    align-self: start;
}
.cardtres-main img{
    max-width: 100%;
    border-radius: 1rem;
}

.cierre-main{
    display: grid;
    width: 100%;
    background-color: #e49e07;
    grid-area: cierre;
    padding: 2rem;
    justify-self: left;
    align-self: center;    
    border-radius: 1rem;
}
.cierre-main h3{
    color: white;
    text-align: center;
}



@media (max-width: 1024px){
    .grid-container{
        margin: 0rem;
        display: none;
        display: grid;
        width: 100%;
        height: 100rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas: 
        "titulo"
        "portada"
        "pregunta"
        "imgdos"
        "carduno"
        "cierre"
        ;
        background-color: rgb(253, 253, 253);
        gap: 2rem;
    }    

    .titulo-main{
        grid-area: titulo;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
        margin-top: 4rem;
    }

    .image-maindos{
        grid-area: imgdos;
        display: grid;
        height: auto;
        justify-self: center;
        align-self: center;
    }  

    .image-maintres{
        display: none;
    }

    .image-maincuatro{
        display: none;
    }
    
    .carddos-main{
        display: none
    }

    .carduno-main{
        grid-area: carduno;
        display: grid;
        height: auto;
        justify-self: center;
        align-self: center;
    }

    .cardtres-main{
        display: none
    } 
}

@media (max-width: 768px){

    .grid-container{
        margin-top: 1rem;
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas: 
        "titulo"
        "portada"
        "pregunta"
        "imgdos"
        "carduno"
        "cierre"
        ;
        background-color: rgb(253, 253, 253);
        gap: 2rem;
    }    

    .titulo-main{
        grid-area: titulo;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
        margin-top: 4rem;
    }

    .image-maindos{
        grid-area: imgdos;
        display: grid;
        height: auto;
        justify-self: center;
        align-self: center;
    }

    .image-maintres{
        display: none;
    }

    .image-maincuatro{
        display: none;
    }

    .carddos-main{
        display: none
    }

    .cardtres-main{
        display: none
    }    
}

/*PAGINA NOSOTROS USANDO GRIDS*/

.dest-container{
    display: grid;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100%;
}

.grid-dest{
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    ". nosotros nosotros nosotros ."
    "verde verde verde verde verde"
    ". frase huevo huevo huevo"
    "fin fin fin team team"
    ;
    background-color: rgb(253, 253, 253);
    gap: 1rem;
}

.titulo-dest{
    display: grid;
    width: 100%;
    grid-area: nosotros;
    padding: 2rem;
    justify-self: center;
    align-self: center;    
    text-align: center;
}

.titulo-dest h1{
    color: #3C2A21;
}

.image-verde{
    grid-area: verde;
    display: grid;
    height: auto;
    justify-self: center;
    align-self: top;    
}

.image-verde img{
    max-width: 100%;
    height: auto;
}

.frase-dest{
    display: grid;
    width: 100%;
    background-color:#3C2A21;
    grid-area: frase;
    padding: 2rem;
    justify-self: top;
    align-self: top;    
}
.frase-dest h3{
    color: white;
    text-align: right;
}

.image-destdos{
    grid-area: huevo;
    display: grid;
    height: auto;
    justify-self: start;
    align-self: start;
}
.image-destdos img{
    max-width: 100%;
    height: auto;
}

.team-dest{
    display: grid;
    width: 100%;
    grid-area: team;
    justify-self: left;
    align-self: left; 
    text-align: left;   
    padding: 1rem;
}
.team-dest h1{
    color: black;    
}


.image-fin{
    grid-area: fin;
    display: grid;
    height: auto;
    justify-self: end;
    align-self: end;
}
.image-fins img{
    max-width: 100%;
    height: auto;
}

@media (max-width: 425px){
    .grid-dest{
        display: grid;
        max-width: 100%;
        height: auto;
        grid-template-columns: 425px;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: 
        "nosotros"
        "verde"
        "frase"
        "huevo"
        "team"
        "fin"
        ;
        background-color: rgb(253, 253, 253);
    }

    .titulo-dest{
        display: grid;
        width: 100%;
        grid-area: nosotros;
        justify-self: center;
        align-self: center;    
        text-align: center;
    }
    
    .titulo-dest h1{
        color: #3C2A21;
    }
    
    .image-verde{
        grid-area: verde;
        display: grid;
        height: auto;
        justify-self: center;
        align-self: center;    
    }
    
    .image-verde img{
        max-width: 100%;
        height: auto;
    }
    
    .frase-dest{
        display: grid;
        width: 100%;
        background-color:#3C2A21;
        grid-area: frase;
        justify-self: center;
        align-self: center;    
    }
    .frase-dest h3{
        color: white;
        text-align: center;
    }
    
    .image-destdos{
        grid-area: huevo;
        display: grid;
        height: auto;
        justify-self: center;
        align-self: center;
    }
    .image-destdos img{
        max-width: 100%;
        height: auto;
    }
    
    .team-dest{
        display: grid;
        width: 100%;
        grid-area: team;
        justify-self: center;
        align-self: center; 
        text-align: center;   
    }
    .team-dest h1{
        color: black;    
    }   
    
    .image-fin{
    display: none;
    }

}

@media (max-width: 375px){
    .grid-dest{
        display: grid;
        max-width: 100%;
        height: auto;
        grid-template-columns: 375px;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: 
        "nosotros"
        "verde"
        "frase"
        "huevo"
        "team"
        "fin"
        ;
        background-color: rgb(253, 253, 253);
    }

    .titulo-dest{
        display: grid;
        width: 100%;
        grid-area: nosotros;
        justify-self: center;
        align-self: center;    
        text-align: center;
    }
    
    .titulo-dest h1{
        color: #3C2A21;
    }
    
    .image-verde{
        grid-area: verde;
        display: grid;
        height: auto;
        justify-self: center;
        align-self: center;    
    }
    
    .image-verde img{
        max-width: 100%;
        height: auto;
    }
    
    .frase-dest{
        display: grid;
        width: 100%;
        background-color:#3C2A21;
        grid-area: frase;
        justify-self: center;
        align-self: center;    
    }
    .frase-dest h3{
        color: white;
        text-align: center;
    }
    
    .image-destdos{
        grid-area: huevo;
        display: grid;
        height: auto;
        justify-self: center;
        align-self: center;
    }
    .image-destdos img{
        max-width: 100%;
        height: auto;
    }
    
    .team-dest{
        display: grid;
        width: 100%;
        grid-area: team;
        justify-self: center;
        align-self: center; 
        text-align: center;   
    }
    .team-dest h1{
        color: black;    
    }   
    
    .image-fin{
    display: none;
    }

}

@media (max-width: 320px){
    .grid-dest{
        display: grid;
        max-width: 100%;
        height: auto;
        grid-template-columns: 320px;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: 
        "nosotros"
        "verde"
        "frase"
        "huevo"
        "team"
        "fin"
        ;
        background-color: rgb(253, 253, 253);
    }

    .titulo-dest{
        display: grid;
        width: 100%;
        grid-area: nosotros;
        justify-self: center;
        align-self: center;    
        text-align: center;
    }
    
    .titulo-dest h1{
        color: #3C2A21;
    }
    
    .image-verde{
        grid-area: verde;
        display: grid;
        height: auto;
        justify-self: center;
        align-self: center;    
    }
    
    .image-verde img{
        max-width: 100%;
        height: auto;
    }
    
    .frase-dest{
        display: grid;
        width: 100%;
        background-color:#3C2A21;
        grid-area: frase;
        justify-self: center;
        align-self: center;    
    }
    .frase-dest h3{
        color: white;
        text-align: center;
    }
    
    .image-destdos{
        grid-area: huevo;
        display: grid;
        height: auto;
        justify-self: center;
        align-self: center;
    }
    .image-destdos img{
        max-width: 100%;
        height: auto;
    }
    
    .team-dest{
        display: grid;
        width: 100%;
        grid-area: team;
        justify-self: center;
        align-self: center; 
        text-align: center;   
    }
    .team-dest h1{
        color: black;    
    }   
    
    .image-fin{
    display: none;
    }

}


/*Arreglo footer*/
@media (max-width: 1440px){
    .margin-footer{
        margin-top: 0px
    }
}

@media (max-width: 1024px){
    .margin-footer{
        margin-top: 1300px
    }
}

@media (max-width: 768px){
    .margin-footer{
        margin-top: 2000px;
    }
}

@media (max-width: 475px){
    .margin-footer{
        margin-top: 1000px;
    }
}

@media (max-width: 320px){
    .margin-footer{
        margin-top: 800px;
    }
}