@charset "UTF-8";
header nav {
  background-color: #e4e4e4;
}

footer {
  background-color: #e4e4e4;
  margin-top: 1rem;
}

main {
  background-color: var(--secondary-color);
  animation: color-change-4x 24s infinite;
}

:root {
  --secondary-color: transparent;
  animation: color-change-4x 120s infinite;
}

@keyframes color-change-4x {
  0% {
    background: #EC87E4;
  }
  30% {
    background: #51424F;
  }
  70% {
    background: #51424F;
  }
  100% {
    background: #EC87E4;
  }
}
html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.poppins-header {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}

h2 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

h4 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  text-shadow: rgb(5, 5, 5);
  font-family: "Roboto", sans-serif;
}

h5 {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: bold;
  text-shadow: rgb(5, 5, 5);
  font-family: "Roboto", sans-serif;
}

h6 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

p {
  color: #000000;
  font-family: "Roboto", sans-serif;
}

.centrado {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.box-image, .box {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box {
  background-color: #ffffff;
  margin-bottom: 20px;
}

.box-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.box-description {
  font-size: 16px;
}

.box-image {
  background-image: url("/assets/riquiburga.jpg");
  background-size: cover;
  background-position: bottom;
  height: 400px;
  margin-top: 10px;
}

.image-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-item {
  width: 50%;
  height: 200px;
  margin-bottom: 20px;
}
.image-item:hover {
  transform: scale(1.05);
}
.image-item:first-child {
  margin-right: 10px; /* Espacio entre las imágenes */
}
.image-item:last-child {
  margin-left: 10px; /* Espacio entre las imágenes */
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.image-overlay .image-title {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.image-item:hover .image-overlay {
  opacity: 1;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotate-image {
  animation: none;
}

.rotate-image:hover {
  animation: rotate 5s linear infinite;
}

.zoom-container {
  position: relative;
  overflow: hidden;
}

.zoom-container img {
  transition: transform 0.3s;
}

.zoom-container:hover img {
  transform: scale(1.1);
}

.animacioncartita {
  transition: transform 0.3s;
}

.animacioncartita:hover {
  transform: translateY(-10px);
}

button {
  background-color: #e4e4e4;
  border: none;
  color: rgb(255, 255, 255);
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #cbcbcb;
  transition: background-color 0.3s ease, transform 0.2s ease;
  transform: scale(1.05);
}

.carousel-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marginsuhi {
  margin-top: 2rem;
}

.card {
  border: none;
}

.cartas {
  background-color: red;
}

.cards-container {
  display: grid;
  perspective: 1000px;
  margin-bottom: 50px;
}

@media (min-width: 1024px) {
  .gap-y-md-8 {
    gap: 3rem 0rem; /* así cuando están en 1024 quedan 2 y 2 */
  }
}
@media (min-width: 768px) {
  .gap-y-md-8 {
    gap: 3rem 5rem;
  }
}
@media (min-width: 425px) {
  .gap-y-md-8 {
    gap: 5rem 0rem;
  }
}
@media (min-width: 375px) {
  .gap-y-md-8 {
    gap: 3rem 0rem;
  }
}
@media (min-width: 320px) {
  .gap-y-md-8 {
    gap: 2rem 0rem;
  }
}
.card {
  transition: transform 0.3s;
  z-index: 1;
}
.card:hover {
  transform: scale(1);
  z-index: 2;
}

.cards-container:hover .card:not(:hover) {
  transform: scale(0.95);
  z-index: 0;
}

.fondo-cartas-index {
  background-color: aquamarine;
}

.image-main img:hover,
.image-maindos img:hover,
.image-maintres img:hover,
.image-maincuatro img:hover {
  animation: zoomIn 0.5s ease-in-out;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
header nav {
  background-color: #e4e4e4;
}

.nav-item a:hover {
  color: #3C2A21;
}

.nav-item a:active {
  color: rgb(0, 0, 0);
  text-shadow: 2px 4px 5px rebeccapurple;
}

main {
  background-color: #e4e4e4;
}

.card {
  background-color: var(--secondary-color);
}

.cartas {
  background-color: rgb(255, 255, 255);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  width: 100%;
  overflow: hidden;
}

.container * {
  width: 100%;
  max-width: none;
}

.grid-container {
  display: grid;
  width: 100%;
  height: 105rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25rem 4rem 18rem 40rem 4rem;
  grid-template-areas: "titulo portada portada" "pregunta pregunta pregunta" "imgdos imgtres imgcuatro" "carduno carddos cardtres" "cierre cierre cierre";
  gap: 2rem;
}

.image-main {
  grid-area: portada;
  display: grid;
  justify-self: end;
  align-self: end;
}

.image-main img {
  border-radius: 0.5rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.titulo-main {
  grid-area: titulo;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
  margin-top: 4rem;
}

.pregunta-main {
  display: grid;
  width: 100%;
  background-color: #3C2A21;
  grid-area: pregunta;
  padding: 2rem;
  justify-self: left;
  align-self: center;
  border-radius: 0.5rem;
}

.pregunta-main h3 {
  color: white;
  text-align: center;
}

.image-maindos {
  grid-area: imgdos;
  display: grid;
  height: auto;
  justify-self: start;
  align-self: start;
}

.image-maindos img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.image-maintres {
  grid-area: imgtres;
  display: grid;
  height: auto;
  justify-self: start;
  align-self: start;
}

.image-maintres img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.image-maincuatro {
  grid-area: imgcuatro;
  display: grid;
  height: auto;
  justify-self: start;
  align-self: start;
}

.image-maincuatro img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.carduno-main {
  grid-area: carduno;
  display: grid;
  height: auto;
  justify-self: start;
  align-self: start;
  text-align: center;
}

.carduno-main img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.carddos-main {
  grid-area: carddos;
  display: grid;
  height: auto;
  justify-self: start;
  align-self: start;
  text-align: center;
}

.carddos-main img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.cardtres-main {
  grid-area: cardtres;
  display: grid;
  height: auto;
  justify-self: start;
  align-self: start;
  text-align: center;
}

.cardtres-main img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.cierre-main {
  display: grid;
  width: 100%;
  background-color: #e49e07;
  grid-area: cierre;
  padding: 2rem;
  justify-self: left;
  align-self: center;
  border-radius: 0.5rem;
}

.cierre-main h3 {
  color: white;
  text-align: center;
}

/*PAGINA NOSOTROS USANDO GRIDS*/
.dest-container {
  display: grid;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100%;
}

.grid-dest {
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: ". nosotros nosotros nosotros ." "verde verde verde verde verde" ". frase huevo huevo huevo" "fin fin fin team .";
  background-color: var(--secondary-color);
  gap: 1rem;
}

.titulo-dest {
  display: grid;
  width: 100%;
  grid-area: nosotros;
  padding: 2rem;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.image-verde {
  grid-area: verde;
  display: grid;
  height: auto;
  justify-self: center;
  align-self: top;
}

.image-verde img {
  max-width: 100%;
  height: auto;
}

.frase-dest {
  display: grid;
  width: 100%;
  outline: 2px solid #ffffff;
  border-radius: 0.5rem;
  grid-area: frase;
  padding: 2rem;
  justify-self: top;
  align-self: top;
}

.frase-dest h3 {
  color: white;
  text-align: right;
}

.image-destdos {
  grid-area: huevo;
  display: grid;
  height: auto;
  justify-self: start;
  align-self: start;
}

.image-destdos img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.team-dest {
  display: grid;
  width: 100%;
  grid-area: team;
  justify-self: left;
  align-self: left;
  text-align: left;
  padding: 1rem;
}

.team-dest {
  outline: 2px solid #ffffff;
  border-radius: 0.5rem;
}

.image-fin {
  grid-area: fin;
  display: grid;
  height: auto;
  justify-self: end;
  align-self: end;
}

.image-fins img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .grid-dest {
    display: grid;
    max-width: 100%;
    height: auto;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "nosotros" "verde" "frase" "huevo" "team" "fin";
  }
  .titulo-dest {
    display: grid;
    width: 100%;
    grid-area: nosotros;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  .titulo-dest h1 {
    color: #3C2A21;
  }
  .image-verde {
    grid-area: verde;
    display: grid;
    height: auto;
    justify-self: center;
    align-self: center;
  }
  .image-verde img {
    max-width: 100%;
    height: auto;
  }
  .frase-dest {
    display: grid;
    width: 100%;
    background-color: #3C2A21;
    grid-area: frase;
    justify-self: center;
    align-self: center;
  }
  .frase-dest h3 {
    color: white;
    text-align: center;
  }
  .image-destdos {
    grid-area: huevo;
    display: grid;
    height: auto;
    justify-self: center;
    align-self: center;
  }
  .image-destdos img {
    max-width: 100%;
    height: auto;
  }
  .team-dest {
    display: grid;
    width: 100%;
    grid-area: team;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  .team-dest h1 {
    color: black;
  }
  .image-fin {
    display: none;
  }
}
@media (max-width: 375px) {
  .grid-dest {
    display: grid;
    max-width: 100%;
    height: auto;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "nosotros" "verde" "frase" "huevo" "team" "fin";
  }
  .titulo-dest {
    display: grid;
    width: 100%;
    grid-area: nosotros;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  .titulo-dest h1 {
    color: #3C2A21;
  }
  .image-verde {
    grid-area: verde;
    display: grid;
    height: auto;
    justify-self: center;
    align-self: center;
  }
  .image-verde img {
    max-width: 100%;
    height: auto;
  }
  .frase-dest {
    display: grid;
    width: 100%;
    background-color: #3C2A21;
    grid-area: frase;
    justify-self: center;
    align-self: center;
  }
  .frase-dest h3 {
    color: white;
    text-align: center;
  }
  .image-destdos {
    grid-area: huevo;
    display: grid;
    height: auto;
    justify-self: center;
    align-self: center;
  }
  .image-destdos img {
    max-width: 100%;
    height: auto;
  }
  .team-dest {
    display: grid;
    width: 100%;
    grid-area: team;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  .team-dest h1 {
    color: black;
  }
  .image-fin {
    display: none;
  }
}
@media (max-width: 320px) {
  .grid-dest {
    display: grid;
    max-width: 100%;
    height: auto;
    grid-template-columns: 320px;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "nosotros" "verde" "frase" "huevo" "team" "fin";
  }
  .titulo-dest {
    display: grid;
    width: 100%;
    grid-area: nosotros;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  .titulo-dest h1 {
    color: #3C2A21;
  }
  .image-verde {
    grid-area: verde;
    display: grid;
    height: auto;
    justify-self: center;
    align-self: center;
  }
  .image-verde img {
    max-width: 100%;
    height: auto;
  }
  .frase-dest {
    display: grid;
    width: 100%;
    background-color: #3C2A21;
    grid-area: frase;
    justify-self: center;
    align-self: center;
  }
  .frase-dest h3 {
    color: white;
    text-align: center;
  }
  .image-destdos {
    grid-area: huevo;
    display: grid;
    height: auto;
    justify-self: center;
    align-self: center;
  }
  .image-destdos img {
    max-width: 100%;
    height: auto;
  }
  .team-dest {
    display: grid;
    width: 100%;
    grid-area: team;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  .team-dest h1 {
    color: black;
  }
  .image-fin {
    display: none;
  }
}
.fondo-footer {
  background-color: #e4e4e4;
}

.imgfoot {
  margin-top: 1.5rem;
}

@media (min-width: 1024px) {
  .col-md-6 {
    display: flex;
    flex-direction: column;
  }
  .col-md-6 img {
    order: 2;
  }
}
@media (max-width: 1024px) {
  .grid-container {
    display: grid;
    height: 200rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "titulo" "portada" "pregunta" "imgdos" "carduno" "cierre";
    gap: 0.5rem;
  }
  .titulo-main {
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0rem;
    align-self: flex-end;
  }
  .image-main {
    grid-area: portada;
    display: grid;
    justify-self: center;
    align-self: start;
  }
  .image-main img {
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .image-maindos {
    grid-area: imgdos;
    display: grid;
    justify-self: center;
    align-self: top;
  }
  .image-maindos img {
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .image-maintres {
    display: none;
  }
  .image-maincuatro {
    display: none;
  }
  .carddos-main {
    display: none;
  }
  .carduno-main {
    grid-area: carduno;
    display: grid;
    height: auto;
    justify-self: center;
    align-self: center;
  }
  .carduno-main h5 {
    margin-top: 1rem;
    text-align: center;
    justify-self: center;
    align-self: center;
  }
  .carduno-main p {
    text-align: center;
    justify-self: center;
    align-self: center;
  }
  .cardtres-main {
    display: none;
  }
}
@media (max-width: 768px) {
  .grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
    display: grid;
    height: 155rem;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 400px 150px 475px 1000px 150px;
    grid-template-areas: "titulo" "portada" "pregunta" "imgdos" "carduno" "cierre";
  }
  .titulo-main {
    grid-area: titulo;
    display: flex;
  }
  .image-main {
    grid-area: portada;
    display: grid;
  }
  .image-main img {
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .image-maindos {
    grid-area: imgdos;
    display: grid;
  }
  .image-maindos img {
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .image-maintres {
    display: none;
  }
  .image-maincuatro {
    display: none;
  }
  .carddos-main {
    display: none;
  }
  .carduno-main {
    grid-area: carduno;
    display: grid;
    height: auto;
  }
  .carduno-main h5 {
    margin-top: 1rem;
  }
  .carduno-main p {
    margin-top: 1rem;
  }
  .cardtres-main {
    display: none;
  }
}
@media (max-width: 425px) {
  .grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
    display: grid;
    height: 110rem;
    grid-template-columns: 1fr;
    grid-template-rows: 220px 230px 150px 260px 650px 150px;
    grid-template-areas: "titulo" "portada" "pregunta" "imgdos" "carduno" "cierre";
  }
  .titulo-main {
    grid-area: titulo;
  }
  .image-main {
    grid-area: portada;
    display: grid;
  }
  .image-main img {
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .image-maindos {
    grid-area: imgdos;
    display: grid;
  }
  .image-maindos img {
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .image-maintres {
    display: none;
  }
  .image-maincuatro {
    display: none;
  }
  .carddos-main {
    display: none;
  }
  .carduno-main {
    grid-area: carduno;
    display: grid;
    height: auto;
  }
  .carduno-main h5 {
    margin-top: 1rem;
  }
  .carduno-main p {
    margin-top: 0rem;
  }
  .cardtres-main {
    display: none;
  }
}
@media (max-width: 320px) {
  .grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 95rem;
    grid-template-columns: 1fr;
    grid-template-rows: 220px 170px 150px 200px 500px 150px;
    grid-template-areas: "titulo" "portada" "pregunta" "imgdos" "carduno" "cierre";
  }
  .titulo-main {
    border-radius: 0.2rem;
    grid-area: titulo;
  }
  .image-main {
    grid-area: portada;
    display: grid;
  }
  .image-main img {
    border-radius: 0.2rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .image-maindos {
    grid-area: imgdos;
    display: grid;
  }
  .image-maindos img {
    border-radius: 0.2rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .image-maintres {
    display: none;
  }
  .image-maincuatro {
    display: none;
  }
  .carddos-main {
    display: none;
  }
  .pregunta-main {
    display: grid;
    border-radius: 0.2rem;
  }
  .carduno-main {
    border-radius: 0.2rem;
    grid-area: carduno;
    display: grid;
    height: auto;
  }
  .carduno-main img {
    max-width: 100%;
    border-radius: 0.2rem;
  }
  .carduno-main h5 {
    margin-top: 1rem;
  }
  .carduno-main p {
    margin-top: 0rem;
  }
  .cardtres-main {
    display: none;
  }
  .cierre-main {
    display: grid;
    border-radius: 0.2rem;
  }
}
.fondomain {
  max-width: 100%;
}

.no-horizontal-scroll {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
