header nav {
  background-color: #959595;
}

footer {
  background-color: #959595;
  margin-top: 1rem;
}

main {
  background-color: #e4e4e4;
  animation: color-change-4x 6s infinite;
  background-color: var(--secondary-color);
}

:root {
  --secondary-color: transparent;
  animation: color-change-4x 6s infinite;
}

@keyframes color-change-4x {
  0% {
    background: #FFFFFF;
  }
  10% {
    background: #cbcbcb;
  }
  40% {
    background: #a3a3a3;
  }
  70% {
    background: #858585;
  }
  80% {
    background: #e3e3e3;
  }
  100% {
    background: #faf3f3;
  }
}
html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  color: rgb(192, 255, 4);
  font-weight: bolder;
  font-family: poppins;
}

h2 {
  color: #3C2A21;
}

h4 {
  color: aliceblue;
  font-size: 2rem;
  text-shadow: grey;
}

h6 {
  font-weight: bold;
  color: #3C2A21;
}

p {
  color: #3C2A21;
}

.centrado {
  text-align: center;
}

button {
  background-color: #959595;
  border: none;
  color: rgb(255, 255, 255);
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #7c7c7c;
  transition: background-color 0.3s ease, transform 0.2s ease;
  transform: scale(1.05);
}

.cards-container {
  margin-top: 1rem;
  margin-block-end: 1rem;
}

.marginsuhi {
  margin-top: 2rem;
}

.card {
  border: none;
}

header nav {
  background-color: #959595;
}

.nav-item a:hover {
  color: #3C2A21;
}

.nav-item a:active {
  color: rgb(0, 0, 0);
  text-shadow: 2px 4px 5px rebeccapurple;
}

main {
  background-color: #e4e4e4;
}

.card {
  background-color: var(--secondary-color);
}

.cartas {
  background-color: rgb(255, 255, 255);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  width: 100%;
  overflow: hidden;
}

.container * {
  width: 100%;
  max-width: none;
}

.grid-container {
  display: grid;
  width: 100%;
  height: 105rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25rem 4rem 18rem 40rem 4rem;
  grid-template-areas: "titulo portada portada" "pregunta pregunta pregunta" "imgdos imgtres imgcuatro" "carduno carddos cardtres" "cierre cierre cierre";
  gap: 2rem;
}

.image-main {
  grid-area: portada;
  display: grid;
  justify-self: end;
  align-self: end;
}

.image-main img {
  border-radius: 0.5rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.titulo-main {
  grid-area: titulo;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
  margin-top: 4rem;
}

.pregunta-main {
  display: grid;
  width: 100%;
  background-color: #3C2A21;
  grid-area: pregunta;
  padding: 2rem;
  justify-self: left;
  align-self: center;
  border-radius: 0.5rem;
}

.pregunta-main h3 {
  color: white;
  text-align: center;
}

.image-maindos {
  grid-area: imgdos;
  display: grid;
  height: auto;
  justify-self: start;
  align-self: start;
}

.image-maindos img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.image-maintres {
  grid-area: imgtres;
  display: grid;
  height: auto;
  justify-self: start;
  align-self: start;
}

.image-maintres img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.image-maincuatro {
  grid-area: imgcuatro;
  display: grid;
  height: auto;
  justify-self: start;
  align-self: start;
}

.image-maincuatro img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.carduno-main {
  grid-area: carduno;
  display: grid;
  height: auto;
  justify-self: start;
  align-self: start;
  text-align: center;
}

.carduno-main img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.carddos-main {
  grid-area: carddos;
  display: grid;
  height: auto;
  justify-self: start;
  align-self: start;
  text-align: center;
}

.carddos-main img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.cardtres-main {
  grid-area: cardtres;
  display: grid;
  height: auto;
  justify-self: start;
  align-self: start;
  text-align: center;
}

.cardtres-main img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.cierre-main {
  display: grid;
  width: 100%;
  background-color: #e49e07;
  grid-area: cierre;
  padding: 2rem;
  justify-self: left;
  align-self: center;
  border-radius: 0.5rem;
}

.cierre-main h3 {
  color: white;
  text-align: center;
}

@media (max-width: 1024px) {
  .grid-container {
    display: grid;
    height: 200rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "titulo" "portada" "pregunta" "imgdos" "carduno" "cierre";
    gap: 0.5rem;
  }
  .titulo-main {
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0rem;
    align-self: flex-end;
  }
  .image-main {
    grid-area: portada;
    display: grid;
    justify-self: center;
    align-self: start;
  }
  .image-main img {
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .image-maindos {
    grid-area: imgdos;
    display: grid;
    justify-self: center;
    align-self: top;
  }
  .image-maindos img {
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .image-maintres {
    display: none;
  }
  .image-maincuatro {
    display: none;
  }
  .carddos-main {
    display: none;
  }
  .carduno-main {
    grid-area: carduno;
    display: grid;
    height: auto;
    justify-self: center;
    align-self: center;
  }
  .carduno-main h5 {
    margin-top: 1rem;
    text-align: center;
    justify-self: center;
    align-self: center;
  }
  .carduno-main p {
    text-align: center;
    justify-self: center;
    align-self: center;
  }
  .cardtres-main {
    display: none;
  }
}
@media (max-width: 768px) {
  .grid-container {
    display: grid;
    height: 155rem;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 400px 150px 475px 1000px 150px;
    grid-template-areas: "titulo" "portada" "pregunta" "imgdos" "carduno" "cierre";
  }
  .titulo-main {
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0rem;
    align-self: flex-end;
  }
  .image-main {
    grid-area: portada;
    display: grid;
    justify-self: center;
    align-self: start;
  }
  .image-main img {
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .image-maindos {
    grid-area: imgdos;
    display: grid;
    justify-self: center;
    align-self: top;
  }
  .image-maindos img {
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .image-maintres {
    display: none;
  }
  .image-maincuatro {
    display: none;
  }
  .carddos-main {
    display: none;
  }
  .carduno-main {
    grid-area: carduno;
    display: grid;
    height: auto;
    justify-self: center;
    align-self: center;
  }
  .carduno-main h5 {
    margin-top: 1rem;
    text-align: center;
    justify-self: center;
    align-self: center;
  }
  .carduno-main p {
    text-align: center;
    justify-self: center;
    align-self: center;
  }
  .cardtres-main {
    display: none;
  }
}
@media (max-width: 425px) {
  .grid-container {
    display: grid;
    height: 110rem;
    grid-template-columns: 1fr;
    grid-template-rows: 220px 230px 150px 260px 650px 150px;
    grid-template-areas: "titulo" "portada" "pregunta" "imgdos" "carduno" "cierre";
  }
  .titulo-main {
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: flex-end;
  }
  .image-main {
    grid-area: portada;
    display: grid;
    justify-self: center;
    align-self: start;
  }
  .image-main img {
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .image-maindos {
    grid-area: imgdos;
    display: grid;
    justify-self: center;
    align-self: top;
  }
  .image-maindos img {
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .image-maintres {
    display: none;
  }
  .image-maincuatro {
    display: none;
  }
  .carddos-main {
    display: none;
  }
  .carduno-main {
    grid-area: carduno;
    display: grid;
    height: auto;
    justify-self: center;
    align-self: center;
  }
  .carduno-main h5 {
    margin-top: 1rem;
    text-align: center;
    justify-self: center;
    align-self: center;
  }
  .carduno-main p {
    text-align: center;
    justify-self: center;
    align-self: center;
  }
  .cardtres-main {
    display: none;
  }
}
@media (max-width: 320px) {
  .grid-container {
    display: grid;
    height: 95rem;
    grid-template-columns: 1fr;
    grid-template-rows: 220px 170px 150px 200px 500px 150px;
    grid-template-areas: "titulo" "portada" "pregunta" "imgdos" "carduno" "cierre";
  }
  .titulo-main {
    border-radius: 0.2rem;
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: flex-end;
  }
  .image-main {
    grid-area: portada;
    display: grid;
    justify-self: center;
    align-self: start;
  }
  .image-main img {
    border-radius: 0.2rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .image-maindos {
    grid-area: imgdos;
    display: grid;
    justify-self: center;
    align-self: top;
  }
  .image-maindos img {
    border-radius: 0.2rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .image-maintres {
    display: none;
  }
  .image-maincuatro {
    display: none;
  }
  .carddos-main {
    display: none;
  }
  .pregunta-main {
    display: grid;
    border-radius: 0.2rem;
  }
  .carduno-main {
    border-radius: 0.2rem;
    grid-area: carduno;
    display: grid;
    height: auto;
    justify-self: center;
    align-self: center;
  }
  .carduno-main img {
    max-width: 100%;
    border-radius: 0.2rem;
  }
  .carduno-main h5 {
    margin-top: 1rem;
    text-align: center;
    justify-self: center;
    align-self: center;
  }
  .carduno-main p {
    text-align: center;
    justify-self: center;
    align-self: center;
  }
  .cardtres-main {
    display: none;
  }
  .cierre-main {
    display: grid;
    border-radius: 0.2rem;
  }
}
/*PAGINA NOSOTROS USANDO GRIDS*/
.dest-container {
  display: grid;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100%;
}

.grid-dest {
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: ". nosotros nosotros nosotros ." "verde verde verde verde verde" ". frase huevo huevo huevo" "fin fin fin team .";
  background-color: var(--secondary-color);
  gap: 1rem;
}

.titulo-dest {
  display: grid;
  width: 100%;
  grid-area: nosotros;
  padding: 2rem;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.titulo-dest h1 {
  color: #3C2A21;
}

.image-verde {
  grid-area: verde;
  display: grid;
  height: auto;
  justify-self: center;
  align-self: top;
}

.image-verde img {
  max-width: 100%;
  height: auto;
}

.frase-dest {
  display: grid;
  width: 100%;
  background-color: #3C2A21;
  grid-area: frase;
  padding: 2rem;
  justify-self: top;
  align-self: top;
}

.frase-dest h3 {
  color: white;
  text-align: right;
}

.image-destdos {
  grid-area: huevo;
  display: grid;
  height: auto;
  justify-self: start;
  align-self: start;
}

.image-destdos img {
  max-width: 100%;
  height: auto;
}

.team-dest {
  display: grid;
  width: 100%;
  grid-area: team;
  justify-self: left;
  align-self: left;
  text-align: left;
  padding: 1rem;
}

.team-dest h1 {
  color: black;
}

.image-fin {
  grid-area: fin;
  display: grid;
  height: auto;
  justify-self: end;
  align-self: end;
}

.image-fins img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .grid-dest {
    display: grid;
    max-width: 100%;
    height: auto;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "nosotros" "verde" "frase" "huevo" "team" "fin";
  }
  .titulo-dest {
    display: grid;
    width: 100%;
    grid-area: nosotros;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  .titulo-dest h1 {
    color: #3C2A21;
  }
  .image-verde {
    grid-area: verde;
    display: grid;
    height: auto;
    justify-self: center;
    align-self: center;
  }
  .image-verde img {
    max-width: 100%;
    height: auto;
  }
  .frase-dest {
    display: grid;
    width: 100%;
    background-color: #3C2A21;
    grid-area: frase;
    justify-self: center;
    align-self: center;
  }
  .frase-dest h3 {
    color: white;
    text-align: center;
  }
  .image-destdos {
    grid-area: huevo;
    display: grid;
    height: auto;
    justify-self: center;
    align-self: center;
  }
  .image-destdos img {
    max-width: 100%;
    height: auto;
  }
  .team-dest {
    display: grid;
    width: 100%;
    grid-area: team;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  .team-dest h1 {
    color: black;
  }
  .image-fin {
    display: none;
  }
}
@media (max-width: 375px) {
  .grid-dest {
    display: grid;
    max-width: 100%;
    height: auto;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "nosotros" "verde" "frase" "huevo" "team" "fin";
  }
  .titulo-dest {
    display: grid;
    width: 100%;
    grid-area: nosotros;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  .titulo-dest h1 {
    color: #3C2A21;
  }
  .image-verde {
    grid-area: verde;
    display: grid;
    height: auto;
    justify-self: center;
    align-self: center;
  }
  .image-verde img {
    max-width: 100%;
    height: auto;
  }
  .frase-dest {
    display: grid;
    width: 100%;
    background-color: #3C2A21;
    grid-area: frase;
    justify-self: center;
    align-self: center;
  }
  .frase-dest h3 {
    color: white;
    text-align: center;
  }
  .image-destdos {
    grid-area: huevo;
    display: grid;
    height: auto;
    justify-self: center;
    align-self: center;
  }
  .image-destdos img {
    max-width: 100%;
    height: auto;
  }
  .team-dest {
    display: grid;
    width: 100%;
    grid-area: team;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  .team-dest h1 {
    color: black;
  }
  .image-fin {
    display: none;
  }
}
@media (max-width: 320px) {
  .grid-dest {
    display: grid;
    max-width: 100%;
    height: auto;
    grid-template-columns: 320px;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "nosotros" "verde" "frase" "huevo" "team" "fin";
  }
  .titulo-dest {
    display: grid;
    width: 100%;
    grid-area: nosotros;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  .titulo-dest h1 {
    color: #3C2A21;
  }
  .image-verde {
    grid-area: verde;
    display: grid;
    height: auto;
    justify-self: center;
    align-self: center;
  }
  .image-verde img {
    max-width: 100%;
    height: auto;
  }
  .frase-dest {
    display: grid;
    width: 100%;
    background-color: #3C2A21;
    grid-area: frase;
    justify-self: center;
    align-self: center;
  }
  .frase-dest h3 {
    color: white;
    text-align: center;
  }
  .image-destdos {
    grid-area: huevo;
    display: grid;
    height: auto;
    justify-self: center;
    align-self: center;
  }
  .image-destdos img {
    max-width: 100%;
    height: auto;
  }
  .team-dest {
    display: grid;
    width: 100%;
    grid-area: team;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  .team-dest h1 {
    color: black;
  }
  .image-fin {
    display: none;
  }
}
.fondo-footer {
  background-color: #959595;
}

.imgfoot {
  margin-top: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
