.carousel-container {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}



//Espacio pagina Lanzamiento//
.marginsuhi {
	margin-top: 2rem;
}

.card {
	border: none;
}  

.cartas{
	background-color: red;
}

.cards-container {
	display: grid;
	perspective: 1000px;
	margin-bottom: 50px;
}  

@media (min-width: 1024px) {
	.gap-y-md-8 {
	  gap: 3rem 0rem; /* así cuando están en 1024 quedan 2 y 2 */
	}
}

@media (min-width: 768px) {
	.gap-y-md-8 {
	  gap: 3rem 5rem; 
	}
}

@media (min-width: 425px) {
	.gap-y-md-8 {
	  gap: 5rem 0rem; 
	}
}

@media (min-width: 375px) {
	.gap-y-md-8 {
	  gap: 3rem 0rem; 
	}
}

@media (min-width: 320px) {
	.gap-y-md-8 {
	  gap: 2rem 0rem; 
	}
}


.card {
	transition: transform 0.3s;
	z-index: 1;
	&:hover {
	    transform: scale(1);
	    z-index: 2;
}
}  
.cards-container:hover .card:not(:hover) {
	transform: scale(0.95);
	z-index: 0;
}

.fondo-cartas-index{
	background-color: aquamarine;
}



.image-main img:hover,
.image-maindos img:hover,
.image-maintres img:hover,
.image-maincuatro img:hover {
  animation: zoomIn 0.5s ease-in-out;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.nico{
	background-color:#AADDD0;
	text-shadow: 1px 0px 1px rgb(0, 0, 0);
}