//Cards pagina inicio//
.cards-container {
	margin-top: 1rem;
	margin-block-end: 1rem;
}

//Espacio pagina Lanzamiento//
.marginsuhi {
	margin-top: 2rem;
}

.card {
	border: none;
}  

.cards-container {
	perspective: 1000px;
}  

.card {
	transition: transform 0.3s;
	z-index: 1;

	&:hover {
	    transform: scale(1);
	    z-index: 2;
}
}  
.cards-container:hover .card:not(:hover) {
	transform: scale(0.95);
	z-index: 0;
}


.fondocard {
	width: 15rem;
	height: 24rem;
}