// _variables.scss

$primary-color: #e4e4e4;  //fondo header y footer//
$secondary-color: #e4e4e4;
$font-size: 16px;

header nav {
	background-color: $primary-color;
}
footer {
    background-color: $primary-color;
	margin-top: 1rem;
}
main {
	background-color: var(--secondary-color);
	animation: color-change-4x 24s infinite;
}

:root {
	--secondary-color: transparent;
	animation: color-change-4x 120s infinite;
}

@keyframes color-change-4x {
	0% {
	    background: #EC87E4;
	}
	30% {
	    background: #51424F;
	}
	70% {
	    background: #51424F;
	}
	100% {
		background: #EC87E4;
	}
}

