@media (max-width: 768px){
    .grid-container{
        @include grid (center, center);
        display: grid;        
        height: 155rem;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 400px 150px 475px 1000px 150px;
        grid-template-areas: 
        "titulo"
        "portada"
        "pregunta"
        "imgdos"
        "carduno"
        "cierre"
        ;                         
    }    

    .titulo-main{
        grid-area: titulo;
        display: flex;
    }

    .image-main{
        grid-area: portada;
        display: grid;   
    }
    .image-main img{
        border-radius: 1rem;
        object-fit: cover;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .image-maindos{        
        grid-area: imgdos;
        display: grid;        
    }  
    .image-maindos img{
        border-radius: 1rem;
        object-fit: cover;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .image-maintres{
        display: none;
    }

    .image-maincuatro{
        display: none;
    }
    
    .carddos-main{
        display: none
    }

    .carduno-main{
        grid-area: carduno;
        display: grid;
        height: auto;
    }
    .carduno-main h5{
        margin-top: 1rem;
    }
    .carduno-main p{

        margin-top: 1rem;
    }

    .cardtres-main{
        display: none
    } 
}
